.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 20px; /* top, bottom 10px, left, right 20px */
    border-bottom: #333333 0.5px solid;
    z-index: 1000;
    overflow-x: auto; /* make topnav bar scrollable */
}

.topnav img {
    height: 40px;
    margin-inline-start: 5%;
    margin-inline-end: 20%;
}

.topnav a {
    color: #333333;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    padding: 15px 15px;
    flex-grow: 1;
    text-align: left;
    margin-inline: 30px;
}

.topnav a:hover {
    color:#666666;
}

.topnav a.active {
    border-top: 0.5px solid #333333;
    border-bottom: 0.5px solid #333333;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    margin: 5%;
}

.content.intro {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 30px;
    align-items: center;
    position: relative;
}

.content.tbc {
    font-family: 'Roboto', monospace;
    font-size: 24px;
    align-items: center;
}

.content.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content.contact {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 30px;
    align-items: center;
    position: relative;
}

/* Polaroid effect */
.polaroid {
    width: 300px;
    height: 300px;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px; /* Extra white bit at the bottom */
    transform: translateX(-200%); /* Initial position off-screen */
    animation: slide-in 1s forwards; /* Slide in animation */
    animation-delay: 1.5s; /* Delay slide in animation */
}

.polaroid-photo {
    width: 100%;
    height: 100%;
    background: #e9e9e9; /* Initial blank background */
    position: relative;
    overflow: hidden;
}

.polaroid-photo img {
    width: 100%;
    height: auto;
    opacity: 0;
    animation: develop 7s forwards;
    animation-delay: 2s;
}

@keyframes develop {
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    to {
        transform: translateX(0); /* Move to final position */
    }
}

.subtitle {
    font-family: 'Roboto', monospace;
    font-size: 48px;
    font-weight: 300;
    color: #888888;
    margin-inline-start: 25px;
}

.details {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #333333;
    margin-inline-start: 25px;
}

.intro-text p {
    font-size: 48px;
    font-family: 'Roboto', monospace;
    line-height: 2; /* Increase line break spacing */
    font-weight: 300;
    margin-inline-start: 25px;
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
    overflow: hidden;
    animation: typing 4s steps(40, end);
    display: inline-block;
    position: relative;
}

.final-line {
    color: #888888; /* Change this to your desired color */
}

/* Typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-container img {
    width: 300px;
    height: auto;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

.circular--portrait {
    position: relative;
    border-radius: 50px; /* round corners */
    width: 400%;
    height: 400%;
    overflow: hidden;
    padding-top: 5%;
    margin-inline-end: 20px;
    margin-inline-start: 20px;
}

.circular--portrait img {
    width: 100%;
    height: auto;
}

/* Media query for medium screens */
@media (max-width: 1024px) {
    .content.intro {
        grid-template-columns: 1fr 1fr; /* Adjust to two equal columns */
        font-size: 36px; /* Adjust font size for medium screens */
        gap: 10px; /* Adjust gap for medium screens */
    }

    .circular--portrait {
        width: 400px;
        height: 400px;
        margin: 0 auto; /* Center the portrait */
    }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .content.intro {
        grid-template-columns: 1fr; /* Stack portrait and text vertically */
        font-size: 32px; /* Adjust font size for smaller screens */
        text-align: center;
    }

    .circular--portrait {
        width: 400px;
        height: 400px;
        margin: 0 auto; /* Center the portrait */
    }
}