.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* make topnav bar scrollable */
}

.topnav img {
    height: 40px;
    margin-inline-start: 10%;
    margin-inline-end: 15%;
}

.topnav a {
    color: #333333;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    padding: 15px 15px;
    flex-grow: 1;
    text-align: left;
    margin-inline: 30px;
}

.topnav a.active {
    border-top: 0.5px solid #333333;
    border-bottom: 0.5px solid #333333;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px;
}