.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 20px; /* top, bottom 10px, left, right 20px */
    border-bottom: #333333 0.5px solid;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    z-index: 1000;
    overflow-x: auto; /* make topnav bar scrollable */
}

.topnav img {
    height: 40px;
    margin-inline-start: 10%;
    margin-inline-end: 15%;
}

.topnav a {
    color: #333333;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    padding: 15px 15px;
    flex-grow: 1;
    text-align: left;
    margin-inline: 30px;
}

.topnav a:hover {
    color:#666666;
}

.topnav a.active {
    border-top: 0.5px solid #333333;
    border-bottom: 0.5px solid #333333;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    margin: 20px;
}

.content.intro {
    display: grid;
    grid-template-columns: 35% 65%;
    font-family: 'Roboto Mono';
    gap: 30px;
    font-size: 40px;
    line-height: 1.2;
}

.circular--portrait {
    position: relative;
    border-radius: 50%; /* round corners */
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.circular--portrait img {
    width: 100%;
    height: auto;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .content.intro {
        grid-template-columns: 1fr; /* Stack portrait and text vertically */
        font-size: 48px; /* Adjust font size for smaller screens */
    }

    .circular--portrait {
        width: 300px;
        height: 300px;
        margin: 0 auto; /* Center the portrait */
    }
}

/* Media query for very small screens */
@media (max-width: 480px) {
    .content.intro {
        font-size: 32px; /* Further adjust font size for very small screens */
    }

    .circular--portrait {
        width: 200px;
        height: 200px;
    }
}